/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
  height: 50px;
  background-color: var(--darkblue);
  border-bottom: 2px solid var(--neonviolet);
}


/*ARTICLES OF THE HEADER*/
.leftArticle,
.middleArticle,
.rightArticle {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 0 0.5rem 0 0.5rem;
}

/*LEFT ARTICLE OF THE HEADER*/
/*Menu Icon*/
.buttonMenu {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 36px;
  height: 6px;
  background-color: var(--skyblue);
  border-radius: 4px;
  margin: 6px 0;
  transition: 0.4s;
}

.change.bar1 {
  transform: rotate(-45deg) translate(-8px, 9px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  transform: rotate(45deg) translate(-8px, -9px);
}

/*Logos*/
.logoStarfinderFr {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.titleHeader {
  min-width: 400px;
  font-family: Kode Mono;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--neonblue);
  transition: 0.3s;
}

/*MIDDLE ARTICLE OF THE HEADER*/
.middleArticle {
  flex: 1;
  max-width: 400px;
}

/*Searchbar*/
.searchbar {
  flex: 1;
  height: 50px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: var(--skyblue);
  border-radius: 32px 0 0 32px;
}

.searchbar::placeholder {
  padding: 0 0 0 1rem;
  font-family: Kode Mono;
  font-size: 1rem;
  color: var(--coolgrey);
}

.searchbar:focus {
  padding: 0 0 0 1rem;
  font-family: Kode Mono;
  font-size: 1rem;
  color: var(--coolgrey); 
  box-shadow: none;
  outline: none;
  box-shadow: inset 2px 2px 6px var(--skyblue);
}

.buttonSearch {
  cursor: pointer;
  width: 56px;
  height: 56px;
  margin-left: -2px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: var(--skyblue);
  border-radius: 0 2rem 2rem 0;
}

.buttonSearch:active {
  box-shadow: none;
  box-shadow: inset 2px 2px 6px var(--skyblue);
}

.searchIcon {
  width: 32px;
  height: auto;
  margin-left: -2px;
  color: var(--skyblue);
}

/*RIGHT ARTICLE OF THE HEADER*/
/*Login icon*/
.rightArticle {
  flex: 1;
  flex-direction: row;
  justify-content: right;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 56px;
  height: auto;
  color: var(--skyblue);
}

.iconButton:active {
  filter: drop-shadow(2px 0 0 var(--neonblue));
}

.authMenu {
  display: block;
  position: absolute;
  right: 70px;
  top: 8px;
  cursor: pointer;
}

.authMenuItem {
  display: block;
  max-width: 180px;
  min-width: 150px;
  height: auto;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  text-decoration: none;
  color: var(--whiteblue);
  background-color: var(--coolgrey);
  border: 1px solid var(--whiteblue);
  border-radius: 0.25rem;
}

.authMenuItem:hover {
  color: var(--skyblue);
  border-color: var(--skyblue);
  background-color: var(--whiteblue);
}

/*Responsivness*/
@media screen and (max-width: 1300px) {
  .titleHeader {
    font-size: 1.5rem;
    max-width: 230px;
    transition: 0.3s;
  }

  .logoStarfinderFr {
    width: 230px;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1260px) {
  .titleHeader {
    font-size: 1.25rem;
    max-width: 230px;
    transition: 0.3s;
  }

  .logoStarfinderFr {
    width: 230px;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1070px) {
  .titleHeader {
    display: none;
    transition: 0.3s;
  }
}

@media screen and (max-width: 670px) {
  .middleArticle {
    display: none;
    transition: 0.3s;
  }
}

@media screen and (max-width: 460px) {
  .logoStarfinderFr {
    width: 160px;
    transition: 0.3s;
  }
}